*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: 10px;
    display: grid;
    grid-template:
      'header      header    header          header '     80px
      'left-menu   main      right-menu    side-menu'    1fr 
      'bottom-menu  main     right-menu    side-menu'   220px /
       100px        1fr      120px          50px;

      height: 70vh;
      width: 50vw;
}
.header {
text-align: center;
    grid-area: header;
    border: 2px solid black;
    background-color:rgb(114, 18, 18);
  }
  
  .left-menu{
    grid-area:left-menu;
    border: 2px solid black;
    background-color: chartreuse;
 }
 
 .main {
     text-align: center;
    grid-area: main;
    border: 2px solid black;
    background-color: cyan;
 }
 .right-menu {
    grid-area:right-menu ;
    border: 2px solid black;
    background-color:darkorange;
 }
 
.bottom-menu{
    grid-area: bottom-menu;
    border: 2px solid black;
    background-color: rgb(255, 0, 55);  
}
 .side-menu{
    grid-area: side-menu;
    border: 2px solid black;
    background-color: rgb(94, 255, 0);  

 }
    
   